---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #999;
				margin: 2rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
			.space {
				height: 1rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<hr />
				{
					heroImage && (
						<img width={720} height={360} src={heroImage} alt="" />
					)
				}
				<h1 class="title">{title}</h1>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<hr />
				<slot />
			</article>
		</main>
		<script
			src="https://giscus.app/client.js"
			data-repo="potato47/potato47.github.io"
			data-repo-id="MDEwOlJlcG9zaXRvcnk4MzY2MTA5MA=="
			data-category="Comments"
			data-category-id="DIC_kwDOBPyRIs4CUjXO"
			data-mapping="pathname"
			data-strict="0"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="dark_dimmed"
			data-lang="zh-CN"
			data-loading="lazy"
			crossorigin="anonymous"
			async
		></script>
		<Footer />
	</body>
</html>
